openshift_master_identity_providers=[{"name": "openunison","challenge": false,"login": true,"mappingMethod": "claim","kind": "OpenIDIdentityProvider","clientID": "openshift","clientSecret": "{{ openshift_oidc_token }}","claims": {"id": ["sub"],"preferredUsername": ["preferred_username"],"name": ["name"],"email": ["email"]},"urls": {"authorize": "https://{{ openunison_hostname }}/auth/idp/OpenShiftIdP/auth","token":"https://{{ openunison_hostname }}/auth/idp/OpenShiftIdP/token"}}]