apiVersion: v1
kind: Secret
metadata:
  name: openunison-secrets
data:
  ou.env: {{ secret_ou_env.stdout }}
  unisonKeyStore.p12: {{ secret_keystore.stdout }}
  openunison.yaml: {{ secret_openunison_yaml.stdout }}
